/* General styles */
:root {
    --primary-color: #9178ff;
    --secondary-color: #7059d3;
    --background-color: #1c1c1c;
    --text-color: #fff;
    --accent-color: #a8a8a8;
    --font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Header and Navigation */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--primary-color);
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 770px;
    text-align: center;
    padding: 20px;
}

.hero h2 {
    font-size: 3em;
    margin: 0;
    color: var(--text-color);
}

.hero .secure-text {
    color: var(--primary-color);
}

.hero p {
    font-size: 1.2em;
    color: var(--accent-color);
    margin: 10px 0;
}

.hero button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: var(--secondary-color);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--background-color);
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: var(--secondary-color);
}